/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
.wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
}

/* field */
#field {
    display: flex;
    width: 800px;
    margin: auto;
    flex-wrap: wrap;
}


.cell {
    position: relative;
    background-color: green;
    border: 1px solid;
    min-width: 80px;
    flex-grow: 1;    
}

.cell::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* Add properties */
.bg--red {
    background-color: red;
}