/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
.wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
}

/* field */
#field {
    display: flex;
    width: 40%;
    margin: auto;
    flex-wrap: wrap;
}

.row {
    width: 100%;
    display: flex;
}

.cell {
    position: relative;
    background-color: green;
    border: 1px solid;
    flex-grow: 1;    
}

.cell::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.cell > span{
    position: absolute;
    top: 0;
    font-size: 3rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Add properties */
.bg--red {
    background-color: red;
}
